
main {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
/* a{cursor: pointer;} */


main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: semibold;
  color: #151a87;

}
main h2{
  color: #151a87;
  text-align: center;
}
/* header{
  margin-bottom: 50px;
} */

div.record{
  display: block;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 7px;
}

form.login,
form.register {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  padding: 5px 7px;
  width: 100%;
  margin-bottom: 5px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 5px;

}

button {
  display: block;
  width: 100%;
  /* background-color: #555; */
  background-color: #c77b00;
  color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 7px 0;
  margin-bottom: 5px;
}

form.login h1,
form.register h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: semibold;
  color: #151a87;
}